/* HERO */

.hero {
  color: var(--c-text-white);
  background: #111;
}

/* Background image fills section */
.hero-image {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  display: block;
  object-position: left center; /* Prioritise the house */
}

/* Text block on top of image */
.hero-content {
  padding: 1.25rem 1rem;
  background: #111;
  max-width: 32rem;
}

/* Title*/
.hero-title {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 1.4;
  margin: 0 0 0.75rem;
  max-width: 18ch;
}

/* Text*/
.hero-text {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0 0 1.1rem;
}

/* Button */
.hero-button {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
  color: var(--c-text-white);
  background: var(--c-text-dark);

  height: 40px;
  padding: 0 1.6rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  --corner: 10px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--corner)),
    calc(100% - var(--corner)) 100%,
    0 100%
  );
}

.hero button:focus-visible {
  outline: 2px solid var(--c-text-white);
  outline-offset: 3px;
}

/* TABLET */
@media (min-width: 768px) {
  .hero {
    min-height: 60vh;
  }

  .hero-content {
    right: 1.6rem;
    bottom: 3rem;
    max-width: 44rem;
  }

  .hero-title {
    font-size: 1.9rem;
    max-width: none;
  }

  .hero-text {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .hero {
    position: relative;
    height: 75vh;
    background: none;
    overflow: hidden;
  }
  .hero-content {
    position: absolute;
    top: 160px;
    right: 5vw;
    bottom: 3rem;
    max-width: 360px;
    background: transparent;
    margin: 0;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* DESKTOP */
@media (min-width: 1280px) {
  .hero {
    height: 95vh;
    height: 95vh;
    background: none;
    overflow: hidden;
  }

  .hero-content {
    position: absolute;
    top: 168px;
    right: clamp(110px, 6vw, 218px);
    background: none;
    bottom: auto;
    max-width: 398px;
    margin: 0;
  }

  .hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 95vh;
    object-fit: cover;
  }

  .hero-title {
    font-size: 34px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 26px;
  }
}
