/* HOUSE SECTION */

/* Section wrapper */
.house-section {
  background: var(--c-bg-footer);
  width: 100%;
}

/* Cards layout */
.house-section-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

/* TABLET */
@media (min-width: 768px) {
  /* Show card side by side */
  .house-section-grid {
    grid-template-columns: 1fr 1fr;
  }
}
