/* ----- Global styles -----*/

:root {
  /* Text */
  --c-text-white: #ffffff;
  --c-text-dark: #1e1e1e;
  --c-text-footer-logo: #1a1a1a;

  /* Background */
  --c-bg-text-section: #2b2b2b;
  --c-bg-white: #ffffff;
  --c-bg-footer: #101010;

  /* Fonts */
  --font-sans: "DM Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  --font-mono: "DM Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  line-height: 1.5;
  color: #111;
  background-color: #f5f2eb;
}

/* Media defaults */

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Typography defaults */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  max-width: 65ch;
}

/* Buttons & links */

button {
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
